@model IEnumerable<Lab4.Models.ValCalcomanias>

@{
    ViewBag.Title = "IndexVal";
}

<h2>IndexVal</h2>

<p>
    @Html.ActionLink("Upload Json File", "UploadColeccionVal")

    @Html.ActionLink("Agregar Calcomania", "Create2")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SValor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
