@model IEnumerable<Lab4.Models.Calcomanias>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Upload Json File", "UploadColeccion")

    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faltantes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coleccionadas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cambios)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faltantes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coleccionadas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cambios)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
    }

</table>
